// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Proxima Nova', Futura, 'Helvetica Neue', Helvetica;
  line-height: 1.6em;
  font-size: 20px;
  margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
        font-family: Futura, Montserrat, Helvetica;
        font-size: 30px;
      }
      .nav {
        li {
            display: inline-block;
            padding: 2em;
            background-color: black;
        }
        a {
            color: white;

        }
      }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
button {
    padding: 1em;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #333;
    border-radius: 2px;
}
.buttonContainer {
}
.form-control {
    display: block;
    height: 50px;
    padding: 6px 18px;
    width: 100%;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }
.form-control:focus {
     border-color: #66afe9;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
 }
.form-control::-moz-placeholder {
     color: #999;
     opacity: 1;
 }
.form-control:-ms-input-placeholder {
     color: #999;
}
.form-control::-webkit-input-placeholder {
   color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
     cursor: not-allowed;
     background-color: #eee;
     opacity: 1;
}
textarea.form-control {
   height: auto;
}
input[type="search"] {
     -webkit-appearance: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
   line-height: 34px;
   line-height: 1.42857143 \0;
}
input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
   line-height: 30px;
   line-height: 1.5 \0;
}
input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
   line-height: 46px;
   line-height: 1.33 \0;
}
.infoContainer {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 1em 0;
  padding: 0 0 2em 0;
  font-size: 20px;
}
.inputContainer {
    margin: 3em 0;
}
.buttonContainer {
    margin: 3em 0;
    button {
        cursor: auto;
        opacity: 0.2;
        width: 45%;
        padding: 2em 1em;
        font-size: .8em;
        &.enabled {
            background-color: #3A3;
            opacity: 1;
            cursor: pointer; 
            &:hover {
                background-color: darken(#3A3, 10%);
            }
        }
    }
}
.right {
    float: right;
}
.left {
    float: left;
}
.helperContainer {
    float:right;
}
.ng-valid.ng-dirty {
    border-color:#78FA89;
}
.ng-invalid.ng-dirty {
    border-color:#FA787E;
}
.error {
    color:#FA787E;
}
.red {
    background-color: #C93312;
}
.green {
    background-color: #89B151;
}
.yellow {
    background-color: #FDD262;
}
.mint {
    background-color: #D3DDDC;
}
.tan {
    background-color: #C7B19C;
}
.hover-class {
    color:#78FA89;
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* overrides for the angular-sortable css */
li.as-sortable-item,.as-sortable-placeholder {
    text-align: center;
    width: 100%;
    line-height: 3em;
    padding: 0 1em;
    border-radius: 2px;
    border: solid;
    margin-bottom: 5px;
}
.as-sortable-placeholder {
    background-color: #D3DDDC;
    opacity: .9;
}
ul {
    li {
        width: 100%;
        line-height: 3em;
        padding: 0; 
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
        max-width: 730px;
        margin: 0 auto;
  }
  input {
    width: 50%;
    margin: .5em 0;
  }

    /* size of the column */
    .value-column {
        text-align: center;
        display: inline-block;
        width: 50%;
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 40px;
            padding-bottom: 19px;
            font-family: Futura;
            font-size: 25px;
        }
        ul {
            float: left;
            width: 100%;
            li {
                width: 100%;
                line-height: 3em;
                padding: 0 1em;
            }
        }
    }
    .value-column:nth-child(odd) ul {
        padding-right: 20px;
        padding-left: 0;
    }
    .value-column:nth-child(even) ul {
        padding-right: 0px;
        padding-left: 20px;
    }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 15px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}
