<div id='content' class="container">
    <div class='infoContainer' ng-show='step === 0'>
        <!--<p>There are choices that matter, and then there are those that don't. This site is about the ones that matter.</p>
        <p>The psychologist Daniel Kahnemann made a distinction between System 1 and System 2 thinking. Basically, System 1 thinking refers to the quick, intuitive, and nearly effortless way of thinking; most of the time, we humans use System 1 because it is easy and automatic. On the other hand, System 2 refers to the slow, logical, conscious, and effortful way of thinking. While we tend to default to System 1 with good reason, there are certainly times where we need to engage System 2 to make an appropriate decision.</p>
        <p>This site will walk you through a conscious process of identifying a problem, and then encouraging you to take the time to think about what you value. While taking the time to consciously identify these steps is tedious, that is sort of the point. By breaking down what matters to you, the hope is that a better decision can be reached when it matters the most.
        </p>-->
        <p>There are two kinds of choices we make: automatic and deliberate. For the most part automatic choices work just fine. However, sometimes we really need to take time to make deliberate choices. Taking the time now is worth it as it will save you a headache later. Goodchoic.es will help you do that.</p>
    </div>
    <div class='infoContainer' ng-show='step > 0'>
        <div class='helperContainer'>
            <button class='red' type='button' ng-hide="step === 0" ng-click="setInitialState(true)">Restart</button>
        </div>
        <div style='clear: both;'></div>
        <div>
            <strong>The Problem: </strong><span>{{ steps[0].data[0] }}</span>
        </div>
    </div>
    <div ng-repeat="s in steps track by $index" ng-show='$index === step'>
        <div class='header'>
            <h3>{{ $index + 1 }}.{{ s.title }}</h3>
            <p>{{ s.description }}</p>
        </div>
        <form class='inputContainer' name='stepForm' novalidate>
            <div ng-if="steps[step].dependent == false">
                <input class='form-control' type='text' placeholder='{{ s.title }}' name='stepOne' ng-model='steps[step].data[0]' required>
                <div class='error' ng-show='submitted && stepForm.stepOne.$invalid'>
                    <small class='error' ng-show='s.multiple == false && stepForm.stepOne.$error.required'>
                        Text is required
                    </small>
                    <small class='error' ng-show='s.multiple == true && stepForm.stepOne.$error.required'>
                        You need at least one
                    </small>
                </div>
            </div>
            <ul style='text-align: center; padding: 0;' class='rankStep' data-as-sortable="sortOptions" ng-if="step === columnWeightStep" ng-model='steps[columnStep].data' >
                <!--<label>{{ s }}</label>
                <input class='form-control' ng-class="{ 'ng-dirty' : submitted }" type='number' ng-model='steps[step].data[$index]' placeholder='Enter weight for {{ s }}' required>
                -->
                <li ng-repeat='s in steps[columnStep].data' data-as-sortable-item>
                    <div data-as-sortable-item-handle>
                        <strong>{{ s }}</strong>
                        <span style='float: right'></span>
                    </div>
                </li>
            </ul>
            <div class='rankStep' ng-if="step === matrixStep">
                <div id="columns" class="row">
                    <div class="value-column" ng-repeat="v in steps[columnStep].data" id="column{{ $index }}">
                        <h3>{{ v }}</h3>
                        <ul data-as-sortable="columnSortOptions" ng-model='steps[matrixStep].data[$index]'>
                            <li ng-repeat='c in steps[matrixStep].data[$parent.$index]' data-as-sortable-item>
                                <div data-as-sortable-item-handle>
                                    <strong>{{ steps[matrixStep].data[$parent.$parent.$index][$index] }}</strong>
                                    <span style='float: right'></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- on steps with multiple inputs, generate some extra input boxes -->
            <div ng-if="steps[step].multiple == true && steps[step].dependent == false" ng-repeat='s in steps[step].data.slice(1) track by $index'>
                <input class='form-control' type='text' ng-model='steps[step].data[$index + 1]' ng-change='checkBlank($index + 1)' placeholder='{{ s.title }}'>
            </div>
            <button class="add-another-button" ng-if="steps[step].multiple == true && steps[step].dependent == false" ng-click="addNewRow()">+ Add Another</button>

            <div ng-if="step === steps.length - 1">
                <h3 ng-repeat='s in steps[step].data track by $index'>
                    {{ steps[rowStep].data[$index]  }} : {{ s }}
                </h3>
            </div>

            <div class='buttonContainer'>
                <button class="enabled left" type="button" ng-hide="step === 0" ng-click="previous()">Back to {{ steps[step - 1].title }}</button>
                <button class="right" ng-class="{ 'enabled': stepForm.stepOne.$valid || step === columnWeightStep || step === matrixStep }" type="submit" ng-hide="step === steps.length - 1" ng-click="next(stepForm.$valid)">{{ steps[step + 1].title }}</button>
                <div style='clear: both;'></div>
            </div>

        </form>
    </div>


</div>
